.about-me-sect
    z-index: 1
    background: #fff
    &__info
        flex-basis: 50%
    &__technologies
        flex-basis: 50%
        position: relative
        display: flex
        flex-direction: column
.about-me-wrap
    display: flex
.about-me-list
    padding: 0
    margin: 0
    font-size: 24px
    color: $second
    line-height: 1.5
    margin-left: 20px
    list-style: none
    &__item
        margin-bottom: 25px
        &:nth-child(2)
            margin-left: 40px
        &:nth-child(3)
            margin-left: 80px
.tech-list
    display: block
    flex-basis: 90%
    font-family: 'Montserrat Alternates', sans-serif
    font-size: 24px
    font-weight: 900
    color: $second
    list-style: none
    position: relative
    margin: 0
    &__item
        position: absolute
        &:nth-child(1)//Css
            left: 5%
            top: 5%
            color: green
        &:nth-child(2)//Css
            left: 70%
            top: 10%
            color: gold
        &:nth-child(3)//Sass
            left: 35%
            top: 0%
            color: magenta
        &:nth-child(4)//Git
            left: 55%
            top: 20%
            color: gray
        &:nth-child(5)//JavaScript
            left: 10%
            top: 40%
            color: blue
        &:nth-child(6)//iQuery
            left: 75%
            top: 45%
            color: hotpink
        &:nth-child(7)//WebGL
            left: 40%
            top: 50%
            color: brown
        &:nth-child(8)//BEM
            left: 35%
            top: 110%
            color: cadetblue
        &:nth-child(9)//Wordpress
            left: 70%
            top: 120%
            color: red
        &:nth-child(10)//npm
            left: 60%
            top: 92%
            color: green
        &:nth-child(11)//Three.js
            left: 20%
            top: 92%
            color: coral
        &:hover
            color: $third
            cursor: pointer
            font-weight: 600
.tech-animation
    display: block
    flex-basis: 10%
    &__fig
        position: relative
        margin: auto
        transform: rotate3d(1,0,0,65deg)
        display: block
        margin-top: 15px
    &__img
        display: block
        width: 100px
        transform: rotate3d(0,0,1,0deg)
        margin: auto
        cursor: pointer
.technologies-md
    display: none
    &__img
        width: 100%
        display: block

@media screen and ( max-width:  950px)
    .about-me-wrap
        flex-direction: column
    .about-me-sect__technologies
        display: none
    .technologies-md
        display: block
    .about-me-sect__info
        margin-bottom: 15px

@media screen and ( max-width: 750px )
    .about-me-list
        margin-left: 0px
        &__item
            &:nth-child(2)
                margin-left: 20px
            &:nth-child(3)
                margin-left: 40px

@media screen and ( max-width: 650px )
    .about-me-list
        font-size: 20px
        &__item
            margin-bottom: 10px

@media screen and ( max-width: 550px )
    .about-me-list__item
        &:nth-child(2)
            margin-left: 0px
        &:nth-child(3)
            margin-left: 0px
@media screen and ( max-width: 450px )
    .about-me-list
        font-size: 16px
