.case
    font-family: 'Roboto Slab', serif
    margin: 0px
    &__title
        text-align: center
        font-size: 22px
        display: block
        background-color: $third
        color: #ffffff
        padding: 10px
    &__slider
        width: 80%
        margin: auto
    &__img
.slider-wrap
    position: relative
.slider-btn
    height: 50px
    position: absolute
    top: 42%
    cursor: pointer
    transition: transform 0.3s ease-in
.back-btn
    left: 5%
    &:hover
        transform: translateX(-5px)
.next-btn
    right: 5%
    &:hover
        transform: translateX(5px)
.preview
    display: flex !important
    justify-content: space-around
    &__img
        width: 37.4%
.cases-list
    list-style: none
    line-height: 1.5
    font-size: 18px
    margin: 0
    padding: 0
    &__item
        margin-left: 20px
        margin-top: 3px
