//Basic colors
$first: #C1C8C7
$second: #252B31
$third: #E29049
//$first: rgb(182, 121, 41)
//$second:rgb(163, 172, 177)
//$third:rgb(60, 91, 116)
//$fourth:rgb(38, 75, 119)
//$fifth:rgb(0, 36, 63)

*
    box-sizing: border-box
.section
    width: 100%
    min-height: 500px
    height: auto
    padding: 20px 40px
    position: relative
.title
    font-family: 'Russo One', sans-serif
    margin: 0
    margin-bottom: 3px
    font-size: 42px
    text-align: center
.title-underline
    display: block
    height: 4px
    width: 170px
    max-width: 200px
    margin: auto
    background-color: $third
    margin-bottom: 55px
    transform: translateX(-70px)
    opacity: 0
    transition: all 0.5s ease-in
    &.anim-active
        transform: translateX(0px)
        opacity: 1

@media screen and ( max-width: 750px )
    .title-underline
        margin-bottom: 35px
@media screen and ( max-width: 550px )
    .title-underline
        margin-bottom: 20px
    .section
        padding-right: 30px
@media screen and ( max-width: 500px )
    .title
        font-size: 32px
    .title-underline
        width: 120px
@media screen and ( max-width: 375px )
    .section
        padding: 20px
